{% extends "base_generic.html" %}

{% block content %}
    <h1>Plain Old Boggle</h1>
    <p>Welcome Plain Old Boggle! </p>
    <h2>The Boggle Board</h2>
<!-- 
    # https://stackoverflow.com/questions/22645597/how-to-make-dynamic-content-display-across-a-grid-using-django-with-bootstrap
 -->
    <div class="grid-container">
        {% for letter in boggle_letters %}
            <div class="grid-item">
                {{ letter }}
            </div>
        {% endfor %}
        
    </div> 
{% endblock %}
